
@{
    ViewData["Title"] = "Tiendas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" id="divtiendas">
    <h1 class="display-4">Tiendas</h1>
    <div class="table-responsive">
        <table class="table Tableper" id="grvResult" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tiendas</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Ingresar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Tiendas.js"></script>
